
.App {
max-width:50%;
margin:auto;
height:800px;
max-width:600px;
}

h1 {
    text-align: center;
}

.weatherDetail {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    padding:5px;
}

.city {
    font-size:30px;
    text-align:center;
}
input#searchEngine {
    background-color:whitesmoke;
    font-size:15px;
    padding-left:10px;
    width:400px;
    height:40px;
    margin:15px;
    margin-left:60px;
    border-radius: 5px;
    border:none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
}

input#searchButton{
    background-color: #CC5500;
    font-size:15px;
    color:whitesmoke;
    width:100px;
    height:40px;
    margin:15px;
    margin-left:0px;
    border:none;
    border-radius:5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
}

.humidity, .windSpeed{
    text-align:right;
}



#icon {
    height:200px;
    width:200px;
    position:relative;
    top:-70px;
}