
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Shrikhand&display=swap');


body{
   
    background-image:url("img/wave-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
max-width:50%;
margin:auto;
height:400px;
max-width:700px;
}


.city{
    font-family: "Shrikhand", serif;
    font-size:70px;
    letter-spacing:1.5px;
    text-align:left;
    color:#E9F2F9;
}


input#searchEngine {
    background-color:#E9F2F9;
    font-size:15px;
    padding-left:10px;
    width:450px;
    height:40px;
    margin:15px;
    margin-left:60px;
    margin-top:30px;
    border-radius: 5px;
    border:none;
    box-shadow: 0 2px 2px 0 #402a23, 0 0 0 1px rgba(0,0,0,.08);
}

input#searchButton{
    background-color: #CC5500;
    font-size:15px;
    color:#f5f5f5;
    width:100px;
    height:40px;
    margin:15px;
    margin-left:0px;
    border:none;
    border-radius:5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
}
.weatherDetail, .date {
    font-family: "Fanwood Text", serif;
    font-size:25px;
    line-height: 35px;
    color: #CC5500;
    font-weight: 300;
    padding:5px;
    text-align:right;
}

#temperature {
    font-family: "Fanwood Text", serif;
    font-size:80px;
    font-weight:600;
    color: #CC5500;
    position:relative;
    top:-200px;
}
#celsius-link, #fahrenheit-link, #divider, button{
    font-family: "Fanwood Text", serif;
    font-size:40px;
    font-weight:300;
    text-decoration:none;
    color: #CC5500;
    position:relative;
    top:-210px;
}
.humidity, .windSpeed {
    position:relative;
    margin-right:120px;
}

#icon {
    height:150px;
    width:150px;
    position:relative;
    top:-200px;
}
